@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <input id="Button1" type="button" value="button" onmouseover="ChangeColor();" />
    </p>

</div>
<script>
    function ChangeColor() {
        document.getElementById("Button1").style.backgroundColor = 'Yellow';
    }
</script>